<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured!</h1>
    <p>we're working on fixing this!</p>
    <p>sorry for the inconvenience</p>
    <p>please try later!</p>

<%- include('includes/end.ejs') %>